.settingpage-container {
    min-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;

    .settingpage-box {
        width: 870px;
        padding: 10px 60px 10px;
        display: flex;
        justify-content: center;

        .settingpage-sidebar {
            width: 240px;
            padding-right: 24px;

            .settingpage-sidebar-userinfo {
                width: 100%;
                padding: 24px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 16px;

                .ant-avatar {
                    margin-bottom: 12px;
                }
            }

            .ant-divider {
                margin: 3px 0;
                font-size: 14px;
                color: #8D8D8D;
                border-color: #8D8D8D;
            }

            .ant-list {
                .ant-list-item {
                    display: flex;
                    justify-content: center;
                    padding: 3px;
                    border: none;
                }
            }
        }

        .settingpage-card {
            width: calc(100% - 240px);

            .ant-card-body {
                height: 100%;
            }

            .settingpage-card-avatar {
                display: flex;
                justify-content: center;
                padding-bottom: 24px;
            }

            .settingpage-card-form {
                height: calc(100% - 124px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .ant-input,
                .ant-input-outlined {
                    border-radius: 8px;
                    background: #F5F5F5;
                }

                .ant-input:focus-within,
                .ant-input-outlined:focus-within {
                    background: #fff
                }

                .form-radio-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >svg {
                        margin-right: 6px;
                    }
                }

                .form-submit-btn {
                    display: flex;
                    justify-content: right;
                }
            }
        }
    }
}